@import './base.css';

#app {
  position: relative;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  padding-top: calc(24px + 2rem);
}

.menu-item, .sub-menu-item {
  list-style-type: none;
}

.input-container {
  display: block;
}
.input {
  display: block;
  width: 100%;
  padding: 4px 8px;
}